<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Compra Exitosa</title>
</head>
<body style="background:#0b1122; color:white; font-family:Arial; text-align:center; padding-top:80px;">
<div style="background:white; color:#0b1122; display:inline-block; padding:30px; border-radius:15px; width:450px; box-shadow:0 4px 15px rgba(0,0,0,0.5); text-align:left;">
    <h2 style="text-align:center; color:#d10056;">🎉 ¡DISFRUTA TU FUNCIÓN!</h2>
    <div style="background:#f4f6f9; padding:15px; border-radius:8px; border:1px solid #ccc; font-size:14px; line-height:1.4;">
        <p th:text="${ticket}"></p>
    </div>
    <br>
    <div style="text-align:center;">
        <a href="/" style="background:#0b1122; color:white; padding:10px 20px; text-decoration:none; border-radius:20px; font-weight:bold;">Volver a la Cartelera</a>
    </div>
</div>
</body>
</html>